<%- include('header') -%>           
                <%if(!admin) { %>
                    <div class="container">
                        <h2 class="title">Undirskriftarlisti</h2>
                        <form method="post" action="/post">
                            <div class ="nafn">
                                <label for="name"><b>Nafn*</b></label>
                                <% if(errorId.includes('name')) { %>
                                    <input type="text" name="name" class="input error">
                              <%  }else{ %>
                                    <input type="text" name="name" class="input">
                               <% } %>
                            </div>
                            <div class="kennitala">
                                <label for="nationalId"><b>Kennitala*</b></label>
                                <% if(errorId.includes('nationalId')) { %>
                                    <input type="text" placeholder="000000-0000" name="nationalId" class="input error">
                              <%  }else{ %>
                                    <input type="text" placeholder="000000-0000" name="nationalId" class="input">
                               <% } %>
                            </div>
                            <div class="textArea">
                                <label for="comment"><b>Athugasemd: </b></label>
                                <textarea class="input" name="comment" style="height: 80px"></textarea>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" name="anonymous" value="on" class="theCheckbox">
                                <label for="anonymous"><b> Ekki birta nafn á lista </b></label><br>
                            </div>
                            <% if(querySuccess[0] && querySuccess[1] === "added") { %>
                                <h3 class="error-title"><b>Undirskrift móttekin!</b></h3
                           <% } %>
                           <% if(querySuccess[0] && querySuccess[1] === "duplicate") { %>
                            <h3 class="error-title"><b>Kennitala er notuð</b></h3
                        <% } %>
                            <% if(!(errorId.length === 0)) { %>
                                <h3 class="error-title"><b>Villur við undirskrift:</b></h3>
                                <div class ="error-list">
                                    <% errorMessages.forEach(function(item) { %>
                                        <ul>
                                            <li><b><%= item %></b></li>
                                        </ul>
                                    <% }) %>
                                </div>
                          <%  } %>
                            <div>
                                <button class="confirm-btn">Skrifa undir</button> 
                            </div>
                        </form>
                    </div>
              <%  } else { %>
                <div class="container__admin">
                    <h2 class="title">Undirskriftarlisti - umsjón</h2>
                    <div class="admin__header">
                        <div class="admin__info">
                            <div><h3>Innskráður sem: <b>admin</b></h3></div>
                            <div><a href="/logout"><b>Útskrá</b></a></div>
                        </div>
                    </div>
                </div>
             <% } %>
            <div class="signatures">
                <h1 class="title">Undirskriftir</h1>
                <h4>Fjöldi undirskrifta: <%= numOfSignatures %></h4>
                <div class="tableContainer">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="table__header"><b>Dags</b></th>
                                <th class="table__header"><b>Nafn</b></th>
                                <th class="table__header"><b>Athugasemd</b></th>
                                <%if(admin) { %>
                                    <th class ="table__header"><b>Eyða</b></th>
                                <%}%>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.forEach(function(item) { %>
                              <%  if(item.anonymous) { %>
                                    <tr>
                                        <td class="table-items"><b><%= concat(item.signed) %></b></td>
                                        <td class="table-item"><b><%= item.name %></b></td>
                                        <td class="table-item"><b><%= item.comment %></b></td>
                                        <% if(admin) { %>
                                            <td class="table-item"><form action="/delete-btn" method ="post">
                                                <button class="delete-btn" name="id" value="<%= item.id %>">
                                                    <b>Eyða</b>
                                                </button>
                                            </form>
                                        </td>
                                       <% } %>
                                    </tr>
                                <% } else { %>
                                    <tr>
                                        <td class="table__item table_item-fit"><b><%= concat(item.signed) %></b></td>
                                        <td class="table__item table_item-fit"><b>Nafnlaus</b></td>
                                        <td class="table__item table_comment"><b><%= item.comment %></b></td>
                                        <% if(admin) { %>
                                            <td class="table-item"><form action="/delete-btn" method ="post">
                                                <button class="delete-btn" name="id" value="<%= item.id %>">
                                                    <b>Eyða</b>
                                                </button>
                                            </form>
                                        </td>
                                       <% } %>
                                    </tr>
                              <%  } %> 
                          <%  }) %>
                        </tbody>
                    </table>
                </div>
                <div class="signatures__page">
                    <div class="links">
                        <% if(links.prev) { %>
                            <a href="<%= links.prev.href %>">Fyrri síða</a>
                      <%  } %>
                    </div>
                    <div class="links">
                        <h5>Síða <%=page_num[0] %> af <%= page_num[1] %></h5>
                    </div>
                    <div class="links">
                        <a href="<%= links.next.href %>">Næsta síða</a>
                    </div>
                </div>
            </div>
<%- include('footer') -%>